<a href="https://colab.research.google.com/github/devilgupta/p140/blob/main/c138_(challenge).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
from google.colab import files
upload=files.upload()

Saving kaggle.json to kaggle.json

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d gspmoreira/articles-sharing-reading-from-cit-deskdrop

articles-sharing-reading-from-cit-deskdrop.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!ls

articles-sharing-reading-from-cit-deskdrop.zip	shared_articles.csv
kaggle.json					users_interactions.csv
sample_data

In [ ]:
!unzip articles-sharing-reading-from-cit-deskdrop.zip

Archive:  articles-sharing-reading-from-cit-deskdrop.zip
replace shared_articles.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: shared_articles.csv
replace users_interactions.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: users_interactions.csv

In [ ]:
import pandas as pd
import csv

df1=pd.read_csv("shared_articles.csv")
df2=pd.read_csv("users_interactions.csv")
df1.head()

    timestamp  ... lang
0  1459192779  ...   en
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en
4  1459194497  ...   en

[5 rows x 13 columns]

In [ ]:
df2.head(50)

     timestamp eventType  ...  userRegion  userCountry
0   1465413032      VIEW  ...         NaN          NaN
1   1465412560      VIEW  ...          NY           US
2   1465416190      VIEW  ...         NaN          NaN
3   1465413895    FOLLOW  ...         NaN          NaN
4   1465412290      VIEW  ...         NaN          NaN
5   1465413742      VIEW  ...          MG           BR
6   1465415950      VIEW  ...         NaN          NaN
7   1465415066      VIEW  ...          SP           BR
8   1465413762      VIEW  ...         NaN          NaN
9   1465413771      VIEW  ...         NaN          NaN
10  1465413864      VIEW  ...         NaN          NaN
11  1465415229      VIEW  ...         NaN          NaN
12  1465415228      VIEW  ...          SP           BR
13  1465415691      VIEW  ...          SP           BR
14  1465413171      VIEW  ...         NaN          NaN
15  1465415259      VIEW  ...          SP           BR
16  1465415623      VIEW  ...          SP           BR
17  1465412288      VIEW  ...          MG           BR
18  1465415693      VIEW  ...          MG           BR
19  1465415691      VIEW  ...         NaN          NaN
20  1465416196      VIEW  ...          SP           BR
21  1465415431      VIEW  ...          SP           BR
22  1465415060      VIEW  ...         NaN          NaN
23  1465413743      VIEW  ...         NaN          NaN
24  1465415565      VIEW  ...          SP           BR
25  1465413879  BOOKMARK  ...         NaN          NaN
26  1465415695      VIEW  ...         NaN          NaN
27  1465413954  BOOKMARK  ...         NaN          NaN
28  1465413735      VIEW  ...          SP           BR
29  1465414324      VIEW  ...          SP           BR
30  1465413771      VIEW  ...          SP           BR
31  1465413781      VIEW  ...          SP           BR
32  1465413864      VIEW  ...          SP           BR
33  1465415756      LIKE  ...         NaN          NaN
34  1465413046      VIEW  ...          SP           BR
35  1465415686      VIEW  ...         NaN          NaN
36  1465413867      LIKE  ...         NaN          NaN
37  1465413873  BOOKMARK  ...         NaN          NaN
38  1465415690      VIEW  ...          SP           BR
39  1465415949      VIEW  ...          SP           BR
40  1465413845      LIKE  ...         NaN          NaN
41  1465413689      VIEW  ...         NaN          NaN
42  1465413735      VIEW  ...         NaN          NaN
43  1465413946      LIKE  ...         NaN          NaN
44  1465414478      VIEW  ...         NaN          NaN
45  1465413752      VIEW  ...         NaN          NaN
46  1465414324      VIEW  ...         NaN          NaN
47  1465415574      VIEW  ...         NaN          NaN
48  1465414493      VIEW  ...          RJ           BR
49  1465413751      VIEW  ...          SP           BR

[50 rows x 8 columns]

In [ ]:
df1=df1[df1["eventType"]=="CONTENT SHARED"]
df1.head()

    timestamp  ... lang
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en
4  1459194497  ...   en
5  1459194522  ...   en

[5 rows x 13 columns]

In [ ]:
df2.shape

(72312, 8)

In [ ]:
def totalEvents(df1_row): 
  total_likes=df2[(df2["contentId"]==df1_row["contentId"])& (df2["eventType"]=="LIKE")].shape[0]
  total_views=df2[(df2["contentId"]==df1_row["contentId"])& (df2["eventType"]=="VIEW")].shape[0]
  total_follows=df2[(df2["contentId"]==df1_row["contentId"])& (df2["eventType"]=="FOLLOW")].shape[0]
  total_bookmarks=df2[(df2["contentId"]==df1_row["contentId"])& (df2["eventType"]=="BOOKMARK")].shape[0]
  total_comments=df2[(df2["contentId"]==df1_row["contentId"])& (df2["eventType"]=="COMMENT CREATED")].shape[0]
  return total_views+total_likes+total_follows+total_bookmarks+total_comments
df1["total_events"]=df1.apply(totalEvents,axis=1)
df1.head()

    timestamp       eventType  ...  lang  total_events
1  1459193988  CONTENT SHARED  ...    en             1
2  1459194146  CONTENT SHARED  ...    en             1
3  1459194474  CONTENT SHARED  ...    en            13
4  1459194497  CONTENT SHARED  ...    en             0
5  1459194522  CONTENT SHARED  ...    en             2

[5 rows x 14 columns]

In [ ]:
df1=df1.sort_values(["total_events"],ascending=False)
df1.head(5)

       timestamp       eventType  ...  lang  total_events
3096  1487246811  CONTENT SHARED  ...    en           433
1671  1467813728  CONTENT SHARED  ...    pt           315
1814  1468867647  CONTENT SHARED  ...    pt           294
1317  1465484901  CONTENT SHARED  ...    en           294
588   1461629452  CONTENT SHARED  ...    pt           281

[5 rows x 14 columns]